:root {
  --bg-color: #2B2B2B;
  --bg-secondary-color: #3B3B3B;
  --caption-text-color: #858584;
  --text-color: #FFF;
  --cta-color:#A259FF;
  --gradient-purple: linear-gradient(128deg, #A259FF 49.75%, #377DF7 136.56%);
  --gradient-orange: linear-gradient(101deg, #A259FF 13.57%, #FF6250 97.65%);
}