:root {
  --bg-color: #2b2b2b;
  --bg-secondary-color: #3b3b3b;
  --caption-text-color: #858584;
  --icon-color: #bdbdbd;
  --text-color: #fff;
  --cta-color: #a259ff;
  --gradient-purple: linear-gradient(128deg, #a259ff 49.75%, #377df7 136.56%);
  --gradient-orange: linear-gradient(101deg, #a259ff 13.57%, #ff6250 97.65%);
}
