.Stack {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.gap0 {
  gap: 0px;
}

.gap10 {
  gap: 10px;
}

.gap12 {
  gap: 12px;
}

.gap15 {
  gap: 15px;
}

.gap20 {
  gap: 20px;
}

.gap25 {
  gap: 25px;
}

.gap30 {
  gap: 30px;
}

.gap40 {
  gap: 40px;
}

.gap50 {
  gap: 50px;
}

.alignStart {
  align-items: flex-start;
}

.alignBaseline {
  align-items: baseline;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.alignStretch {
  align-items: stretch;
}

.justifyStart {
  justify-content: flex-start; 
}

.justifyBetween {
  justify-content: space-between;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyAround {
  justify-content: space-around;
}

.justifyEvenly {
  justify-content: space-evenly;
}

.maxWidth {
  width: 100%;
}