.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--standard-border-radius);
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #fff;
  display: flex;
}

.primary {
  height: 72px;
  gap: 12px;
  padding: 0 50px;
  font: var(--font-work-h5);
}

.secondary {
  height: 60px;
  gap: 12px;
  padding: 0 50px;
}

.tertiary {
  height: 46px;
  gap: 12px;
  padding: 0 50px;
}

.filled {
  background: var(--cta-color);
}

.outlined {
  background: transparent;
  border: 2px solid var(--cta-color);

  .icon {
    fill: var(--cta-color);
  }
}
