.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #FFF;
  display: flex;
}

.primary {
  height: 72px;
  gap: 12px;
  padding: 0 50px;
}

.secondary {
  height: 60px;
  gap: 12px;
  padding: 0 50px;
}

.tertiary {
  height: 46px;
  gap: 12px;
  padding: 0 50px;
}

.filled {
  background: var(--cta-color);
}

.outlined {
  background: transparent;
  border: 2px solid var(--cta-color); 

  .icon {
    fill: var(--cta-color)
  }
}
