.CollectionCard {
  background: var(--bg-color);
}

.imgBig {
  width: 330px;
  height: 330px;
}

.img {
  height: 100px;
}

.number {
  background: var(--cta-color);
  padding: 32px 15px;
}

.img,
.imgBig,
.number,
.CollectionCard {
  border-radius: var(--standard-border-radius);
}
