.InputWrapper {
  background: var(--text-color);
  padding: 16px 20px;
  height: 46px;
  border-radius: var(--standard-border-radius);
  margin: 16px;
}

.input {
  height: var(--line-size-base);
  width: 258px;
}

.leftIcon > svg,
.rightIcon > svg {
  fill: var(--icon-color);
  width: 20px;
  height: 20px;
}

.leftIcon,
.rightIcon {
  width: min-content;
  height: min-content;
}
