.ArtistCard {
  margin: 20px;
  padding: 20px;
  width: 240px;
  background: var(--bg-secondary-color);
  border-radius: 20px;
  position: relative;
}

.artistInfo,
.artistName {
  align-self: stretch;
}

.rank {
  background: var(--bg-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 18px;
  left: 20px;
}
