.Icon {
  color: var(--text-color);
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.button:hover .Icon {
  color: var(--cta-color);
}