.CategoryCard {
  position: relative;
  border-radius: var(--standard-border-radius);
  overflow: hidden;
  background: var(--bg-secondary-color);
  cursor: pointer;
}

.img {
  width: 240px;
  height: 240px;
}

.iconWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 240px;
  width: 100%;
  backdrop-filter: blur(7.5px);
}

.nameWrapper {
  padding: 20px 30px 25px;
}
